<!DOCTYPE html>
<html>
  <head>
    <title>Bonusly Dashboard</title>
    <%= stylesheet_link_tag 'index' %>
    <% theme_color = current_user.company.custom_theme.nil? ? '#f0f1f5' : current_user.company.custom_theme.brand %>
    <style type="text/css">
      body, .highlights, .highlighted-bonus-total-value { background-color: <%= theme_color %>; }
      .highlighted-bonus-value, .highlighted-bonus-name, .user-link { color: <%= theme_color %>; }
      .highlighted-bonus-value { border: 0.1em solid #1ec659; }
    </style>
    <%= javascript_include_tag 'jquery-1.12.4.min.js' %>
    <%= javascript_include_tag 'Util.js' %>
    <%= javascript_include_tag 'Bonus.js' %>
    <%= javascript_include_tag 'Receiver.js' %>
    <%= javascript_include_tag 'StatManager.js' %>
    <%= javascript_include_tag 'BonusManager.js' %>
    <%= javascript_include_tag 'Manager.js' %>
    <%= javascript_include_tag 'BonuslyDashboard.js' %>
    <%= javascript_include_tag 'app.js' %>
  </head>
  <body class="highlights"
        data-access-token="<%= current_user&.api_key&.access_token %>"
        data-company-name="<%= current_user.company.name %>" >

    <!-- Bonus Container -->
    <div class="highlighted-bonus-container">

      <!-- Bonus -->
      <div class="highlighted-bonus does-zoom-in">

        <!-- Bonus Header -->
        <div class="highlighted-bonus-header">

          <!-- Bonus Total Value -->
          <div class="highlighted-bonus-total-value"></div>

          <!-- Bonus Recipients -->
          <div class="highlighted-bonus-recipients"></div>

          <div class="highlighted-bonus-info">
            <a class="highlighted-bonus-timestamp" href="#"></a>
          </div>

        </div>

        <!-- Bonus Body -->
        <div class="highlighted-bonus-body" id="highlighted-bonus-body">
          <a class="highlighted-bonus-author" href="#"></a>
          <span id="bonus-reason"></span>
        </div>
      </div>

    </div>

    <!-- Highlighted Stats Container -->
    <div class="highlighted-stats-container">

      <!-- Highlighted Stats -->
      <div class="highlighted-stats">

        <!-- Highlighted Stat -->
        <div class="highlighted-stat">
          <div class="highlighted-stat-title">Today's Bonuses</div>
          <div class="highlighted-stat-number"></div>
        </div>

        <!-- Highlighted Stat -->
        <div class="highlighted-stat">

          <div class="highlighted-stat-title">Recent Receivers</div>

          <!-- Bonus Recipients -->
          <div class="highlighted-stat-recipients"></div>

        </div>

      </div>
    </div>
  </body>
</html>
