<!DOCTYPE html>
<html>
  <head>
    <title>Bonusly Digital Signage</title>
    <meta http-equiv="X-Frame-Options" content="allow">
    <meta name="robots" content="noindex">
    <base target="_blank">
    <%= stylesheet_link_tag 'index' %>

    <style type="text/css">
      body, .highlights, .highlighted-bonus-total-value { background-color: <%= @theme_color %>; }
      .inline-bonus-amount, .highlighted-bonus-name, .user-link, #bonus-reason > a[target='_blank'] { color: <%= @theme_color %>; }
      .inline-bonus-amount { border: 0.1em solid <%= @theme_color %>; }
      .fade-gradient { background-image: linear-gradient(to left, <%= Color::RGB.from_html("@theme_color").css_rgba(0) %>, <%= @theme_color %>); }
    </style>
    <%= javascript_include_tag 'dashboard-manifest' %>
  </head>
  <body class="highlights"
        data-access-token="<%= @access_token %>"
        data-company-name="<%= @company&.name %>" >

    <% if @access_token.blank? %>
      <div class="not-authenticated">
        <h2>Hi! Who are you?</h2>

        <%= link_to 'Please sign in to Bonusly', root_url %>
        <br><br>
        Alternatively...<br>if you have an access token,
        <%= form_tag({}, method: :get) do %>
          <%= text_field_tag :access_token, nil, placeholder: 'put it here' %>
          <%= submit_tag 'submit' %>
        <% end %>
      </div>
    <% end %>

    <!-- Bonus Container -->
    <div class="highlighted-bonus-container unloaded">
      <h2 class="no-bonus-message">Who helped you out today?<br/>Give them a bonus to say thanks!</h2>

      <div class="bonus-image"><div class="fade-gradient"></div></div>
      <div class="bonus-video">
        <video autoplay loop muted playsinline>
          <source type="video/mp4" src="#">
        </video>
        <div class="fade-gradient"></div>
      </div>

      <% spinner_icon = ['fa-refresh', 'fa-spinner', 'fa-universal-access', 'fa-plane', 'fa-square-o'].sample %>
      <div class="fa <%= spinner_icon %> fa-spin"></div>

      <!-- Bonus -->
      <div class="highlighted-bonus does-zoom-in">

        <!-- Bonus Header -->
        <div class="highlighted-bonus-header">

          <!-- Bonus Total Value -->
          <div class="highlighted-bonus-total-value"></div>

          <!-- Bonus Recipients -->
          <div class="highlighted-bonus-recipients"></div>

          <div class="highlighted-bonus-info">
          </div>

        </div>

        <!-- Bonus Body -->
        <div class="highlighted-bonus-body" id="highlighted-bonus-body">
          <a class="highlighted-bonus-author" href="#"></a>
          <span id="bonus-reason"></span>
        </div>
      </div>

    </div>
  </body>
</html>
